@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes backdropFadeIn {
  from {
    backdrop-filter: blur(0);
  }
  to {
    backdrop-filter: blur(1em);
  }
}
@keyframes backdropFadeOut {
  from {
    backdrop-filter: blur(1em);
  }
  to {
    backdrop-filter: blur(0);
  }
}

:root {
  font-family:
    Arial Rounded MT Bold,
    sans-serif;
  font-weight: 800;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  ::selection {
    background: theme("colors.contrast");
    color: white;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

li {
  list-style: none;
}

button {
  all: unset;
}

button:focus {
  outline: revert;
}

a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

@layer components {
  dialog {
    animation: fadeOut 0.5s forwards;

    &::backdrop {
      animation: backdropFadeOut 0.25s forwards;
    }

    &[open] {
      animation: fadeIn 0.5s forwards;
      &::backdrop {
        animation: backdropFadeIn 0.25s forwards;
      }
    }

    margin: auto;
  }

  .card {
    @apply rounded-xl bg-secondary shadow-xl;
  }

  .card-layout {
    @apply flex flex-col gap-y-4 justify-between items-start h-full p-8;
  }

  .card-header {
    @apply font-bold text-2xl text-contrast;
  }

  .card-text {
    @apply text-9xl text-pop;
  }
}
