@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes backdropFadeIn {
  from {
    backdrop-filter: blur(0);
  }
  to {
    backdrop-filter: blur(1em);
  }
}
@keyframes backdropFadeOut {
  from {
    backdrop-filter: blur(1em);
  }
  to {
    backdrop-filter: blur(0);
  }
}

@keyframes shrink-animation {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes moveIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

:root {
  font-family:
    Arial Rounded MT Bold,
    sans-serif;
  font-weight: 800;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  ::selection {
    background: theme("colors.contrast");
    color: white;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

li {
  list-style: none;
}

button {
  all: unset;
}

button:focus {
  outline: revert;
}

a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.contrast");
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.pop");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer components {
  dialog {
    margin: auto;

    animation: fadeOut 0.25s forwards;

    &::backdrop {
      animation: backdropFadeOut 0.25s forwards;
    }

    &[open] {
      animation: fadeIn 0.25s forwards;
      &::backdrop {
        animation: backdropFadeIn 0.25s forwards;
      }
    }

    transition:
      display 0.25s allow-discrete,
      overlay 0.25s allow-discrete;
  }

  .card {
    @apply rounded-xl bg-secondary shadow-xl;
  }

  .card-layout {
    @apply flex flex-col gap-y-4 justify-between items-start h-full p-8;
  }

  .card-header {
    @apply font-bold text-2xl text-contrast;
  }

  .card-text {
    @apply text-9xl text-pop;
  }

  .shrink-wrapper {
    animation:
      moveIn 0.25s forwards,
      fadeIn 0.5s forwards;

    & .shrink {
      display: inline-block;
      height: 4px;

      animation-name: shrink-animation;
      animation-duration: attr(data-timeout ms, 1000);
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-delay: 1000ms;
    }

    &:hover .shrink {
      animation-play-state: paused;
    }
  }
}
